<div ng-if="!details">
  Loading results...
</div>

<div ng-if="details.Response==='True'">
  <img ng-src="{{ details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.Poster }}" class="thumbnail animated flip movie-poster">

  <span class="span-outer">
    <a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank">{{ details.Title }}</a>
  </span>, {{ details.Year }}

  <p><strong>Released on:</strong> {{ details.Released }} ({{ details.Runtime }})</p>

  <p>{{ details.Plot }}</p>

  <p class="outer-p">
    <div class="inner-p">
      <span class="label label-primary">Directors :</span> {{ details.Director }}
    </div>
    <div class="inner-p">
      <span class="label label-primary">Actors :</span> {{ details.Actors }}
    </div>
    <div class="inner-p">
      <span class="label label-primary">Genre :</span> {{ details.Genre }}
    </div>
    </p>
	<div class="addwish">
		<input type="button" value="&#10084;" ng-click="addwish(details)">
		{{successMessage}}
	</div>
	<div ng-if="details.Response==='False'">
	No results found.
	</div>